@using NiksoftCore.Utilities;
@using NiksoftCore.ViewModel;
@model NiksoftCore.ViewModel.BaseReportSearch
@{
    ViewData["Title"] = "گزارش اطلاعات";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
    var records = (List<NiksoftCore.DataModel.SiscoRecord>)ViewBag.Contents;
    var pager = (NiksoftCore.Utilities.Pagination)ViewBag.Pager;
    int pageNumber = 0;
    var messages = (List<NikMessage>)ViewBag.Messages;

    var isSearch = (bool)ViewBag.Search;
    var accSearch = isSearch ? "class='accordion-collapse collapse show'" : "class='accordion-collapse collapse'";
    var accBtn = isSearch ? "aria-expanded='true'" : "";
}

<br />
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-body">
                <div class="text-right">
                    <a href="#searchAcc" data-toggle="collapse" class="btn btn-outline-info btn-sm" @Html.Raw(accBtn)>
                        <i class="fa fa-search"></i>
                    </a>
                </div>
                <div id="searchAcc" @Html.Raw(accSearch) aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form method="get">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="number" class="control-label">شماره تماس</label>
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = "...", @class = "form-control", @id = "number" })
                                    </div>
                                </div>
                                <div class="col-sm-3" style="padding-top: 29px;">
                                    <button type="submit" class="btn btn-outline-info">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card shadow">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="text-warning">
                    <tr>
                        <td>ردیف</td>
                        <td>شماره</td>
                        <td>مدت انتظار</td>
                        <td>اتصال</td>
                        <td>قطع تماس</td>
                        <td>دستگاه</td>
                        <td>IP</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in records)
                    {
                        pageNumber++;
                        <tr>
                            <td>@(pager.StartIndex + pageNumber)</td>
                            <td>@item.CPartyNumber</td>
                            <td>@item.TotalWaitTimeInQueue</td>
                            <td>@item.DateTimeConnect.UnixToDateTime().ToPersianDigitalDateTimeString()</td>
                            <td>@item.DateTimeDisconnect.UnixToDateTime().ToPersianDigitalDateTimeString()</td>
                            <td>@item.DestDeviceName</td>
                            <td>@item.OrigIpv4v6Addr</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="pager">
            @if (pager.TotalSize > pager.PageSize)
            {
                <ul class="pagination m-b-5">
                    <li class="page-item">
                        <a class="page-link" href="@Context.Request.Path?part=1" aria-label="Previous">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>

                    @if (pager.GetStartShow() >= pager.MaxShow)
                    {
                        <li class="page-item"><a href="@Context.Request.Path?part=@pager.GetBackRang()" class="page-link">...</a></li>
                    }

                    @for (int i = pager.GetStartShow(); i <= pager.GetEndShow(); i++)
                    {
                        if (pager.Part == i)
                        {
                            <li class="page-item active"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                        }
                        else
                        {
                            <li class="page-item"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                        }

                    }

                    @if ((pager.TotalParts - pager.MaxShow) > pager.Part)
                    {
                        <li class="page-item"><a href="@Context.Request.Path?part=@pager.GetEndShow()" class="page-link">...</a></li>
                    }
                    <li class="page-item">
                        <a class="page-link" href="@Context.Request.Path?part=@pager.GetTotalParts()" aria-label="Next">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                </ul>
            }

        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        @if (messages != null)
        {
            @foreach (var item in messages)
            {
                if (item.Type == NiksoftCore.ViewModel.MessageType.Error)
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'error'
                    });
                    </text>
                }
                else
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'success'
                    });
                    </text>
                }
            }
        }


    });
</script>