
@using NiksoftCore.DataModel
@model NiksoftCore.ViewModel.UserProfileRequest
@{
    ViewData["Title"] = "پروفایل کاربری";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
}
<div class="text-right">
    <div class="btn-group">
        <a href="/Panel" class="btn btn-outline-info btn-sm">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div>
<br />
<form action="/Panel/UserProfileManage/MyProfile" method="post" enctype="multipart/form-data">
    <div class="registerdiv">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="form-group">
                    <label for="txtFirstname" class="control-label">نام</label>
                    @Html.TextBoxFor(m => m.Firstname, new { placeholder = "نام کاربری", @class = "form-control", @id = "txtFirstname" })
                </div>
                <div class="form-group">
                    <label for="txtLastname" class="control-label">نام خانوادگی</label>
                    @Html.TextBoxFor(m => m.Lastname, new { placeholder = "نام خانوادگی", @class = "form-control", @id = "txtLastname" })
                </div>
                <div class="form-group">
                    <label for="txtLastname" class="control-label">کد ملی/شناسه ملی</label>
                    @Html.TextBoxFor(m => m.NCode, new { placeholder = "کد ملی", @class = "form-control", @id = "txtLastname" })
                </div>
                <div class="form-group">
                    <label for="Gender" class="control-label">جنسیت</label>
                    <select class="form-control m-b" asp-for="Gender" asp-items="ViewBag.Genders">
                        <option selected="selected" value="0">انتخاب کنید</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtBirthDate" class="control-label">تاریخ تولد</label>
                    @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control datepicker", @id = "txtBirthDate" })
                </div>
                <div class="form-group">
                    <label for="txtMobile" class="control-label">موبایل</label>
                    @Html.TextBoxFor(m => m.Mobile, new { placeholder = "موبایل", @class = "form-control", @id = "txtMobile" })
                </div>
                <div class="form-group">
                    <label for="txtPhoneNumber" class="control-label">تلفن</label>
                    @Html.TextBoxFor(m => m.Tel, new { placeholder = "تلفن", @class = "form-control", @id = "txtPhoneNumber" })
                </div>
                <div class="form-group">
                    <label for="txtZipCodeNumber" class="control-label">کد پستی</label>
                    @Html.TextBoxFor(m => m.ZipCode, new { placeholder = "کد پستی", @class = "form-control", @id = "txtZipCodeNumber" })
                </div>
                <div class="form-group">
                    <label for="AvatarFile" class="btn btn-warning">
                        تصویر چهره
                        <input asp-for="AvatarFile" type="file" class="d-none" />
                    </label>
                </div>
                <div class="form-group">
                    <label for="ProvinceId" class="control-label">استان</label>
                    <select class="form-control m-b" asp-for="ProvinceId" asp-items="ViewBag.Provinces">
                        <option selected="selected" value="0">انتخاب کنید</option>
                    </select>
                    <span asp-validation-for="ProvinceId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="ddlCity" class="control-label">شهر</label>
                    <select class="form-control m-b" id="ddlCity" name="CityId">
                        <option selected="selected" value="0">انتخاب کنید</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtPhoneNumber" class="control-label">آدرس</label>
                    @Html.TextAreaFor(m => m.Address, new { placeholder = "آدرس", @class = "form-control", @id = "txtPhoneNumber", rows = "3" })
                </div>

                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.UserId)
                @Html.HiddenFor(m => m.Status)
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">ذخیره</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    var ddls = {
        country: 0,
        province: 0,
        city: 0
    }

    $(document).ready(function () {

        $('#ProvinceId').change(function () {
            getCity(this.value);
        });

        ddls.province = @Model.ProvinceId;
        ddls.city = @Model.CityId;

        if (ddls.province > 0) {
            getCity(ddls.province);
        }

        @if (Messages != null)
        {
            @foreach (var item in Messages)
            {
                if (item.Type == NiksoftCore.ViewModel.MessageType.Error)
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'error'
                    });
                    </text>
                }
                else
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'success'
                    });
                    </text>
                }
            }
        }


    });

    function getCity(pId) {
        callApi({
            url: '/api/base/AddressApi/GetCity',
            data: { provinceId: pId },
            success: function (response) {
                if (response.status == 200) {
                    dropdownBinder({
                        ddl: '#ddlCity',
                        data: response.data
                    });

                    if (ddls.city > 0) {
                        setItemDropdown({
                            ddl: '#ddlCity',
                            value: ddls.city
                        });
                    }
                }
            }
        });
    }

</script>